<p>Enter new student creadentials</p>
<!--<div>
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name" #name ><br><br>
    
    <label for="email">Email id:</label><br>
    <textarea id="content" name="content" rows="4" cols="50" maxlength="50" #content></textarea><br><br>
    
    <label for="expiry_date">Expiry Date:</label><br>
    <input type="date" id="expiry_date" name="expiry_date" #expiry_date><br><br>
    
    
    <input type="submit" value="Submit" (click)="addNotice(title.value,content.value,expiry_date.value)">
</div>-->

