<p>Enter new student creadentials</p>
<div>
    <label for="fname">First Name</label><br>
    <input type="text" id="fname" name="fname" #fname ><br><br>

    <label for="lname">Last Name</label><br>
    <input type="text" id="lname" name="lname" #lname ><br><br>
    
    <label for="email">Email id:</label><br>
    <input type="email" id="email" name="email" #email><br><br>
    
    <label for="courses">Courses</label><br>
    <input type="text" id="expiry_date" name="expiry_date" #expiry_date><br><br>
    
    
    <input type="submit" value="Submit" >
</div>

