<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <a class="navbar-brand" href="#">
    Web School
  </a>
  
  <div class="collapse navbar-collapse" id="navbar">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
  <a class="nav-link" routerLink="setting">Settings</a>
  </li>
  
  <li class="nav-item">
  <a class="nav-link"  routerLink="about">About</a>
  </li>
  </ul>
  </div>
  
  </nav>
  <h1>Elementary School</h1>
  Welcome to Web School
  
  <div>
    <router-outlet></router-outlet>
  </div>